
<%= form_for @snippet, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% @snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :_id %>

  <div class="control-group">
    <%= f.label :source_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :access_specifier, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :access_specifier, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <div class="field" style="border-top: 2px solid black">
  <div class="capture-container rounded-box">
    <p id="uberText"><%= @text %></p>
  </div>
  </div>
    <div>
      <%= f.text_area :content, :class => 'text_area', :style => "width: 100%;" %>
    </div>
  </div>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                snippets_path, :class => 'btn' %>
  </div>
<% end %>


<script type="text/javascript">
var source = $('#snippet_content');
var content = source.val();
var target_visual = $('#uberText');
target_visual.html(content);
</script>
