<%- model_class = Snippet -%>
<div class="page-header">
  <!-- <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1> -->

<div>
  <% if @filter_user %>
    <h1 class="shadow_title"><%= "#{@filter_user.name}'s Timeline" %></h1>
  <% else %>
    <h1 class="shadow_title"><%= "Public Timeline" %></h1>
  <% end %>
</div>
</div>
  
  <style type="text/css">
    body
    {

      padding-top: 60px;

    }
  </style>  

  <% @snippets.each do |snippet| %>

      <div style="margin-right: 20px">
     

          <div class="well" style="min-height: 25px; margin-bottom: 0px" >
            <span>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_snippet_path(snippet), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          snippet_path(snippet),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </span>
            <span style="vertical-align: middle; font-weight: bold"> 
              (<%= pluralize snippet.up_votes_count.to_i, "vote" %>)
              <% if current_user %>
              <%= link_to image_tag("http://cdn3.iconfinder.com/data/icons/musthave/128/Stock%20Index%20Up.png", height: 20, width: 20, border: 0), vote_snippet_path(snippet, type: "up"), method: "post" %>
              | <%= link_to image_tag("http://cdn3.iconfinder.com/data/icons/musthave/128/Stock%20Index%20Down.png", height: 20, width: 20, border: 0), vote_snippet_path(snippet, type: "down"), method: "post" %>
              | <%= link_to "Show", snippet %>
              <% if @mode == 'admin' || current_user.id == snippet.user_id %>
              | <%= link_to 'Edit', edit_snippet_path(snippet) %>
                | <%= link_to 'Destroy', snippet, confirm: 'Are you sure?', method: :delete %>
              <% end %>
            <% end %>
              <span><img style='display: inline-block; width:10px; height:10px;' src='/images/double_pointing.png' /><span>
              <span style="font-weight: normal"><a href='<%= snippet.source_url %>' style="word-wrap:break-word"><%=h snippet.source_url %></a></span>
             </span>
          </div>
        <div >
          <div>
            <% unless snippet.tags == nil or snippet.tags == "" %>
              <div style="padding: 5px 5px 2.5px 5px">      
                <span style="font-size: 18px">Tags: </span>
                <span>
                  <% snippet.tags.split.each do |tag| %>
                    <span class="tag"><%= tag %><span>
                  <% end %>
                </span>
              </div>
            <% end %>
            <% unless snippet.description == "" %>
              <div style="padding: 2.5px 5px 5px 5px">      
                <span style="font-size: 18px">Description: </span>
                <span>
                  <%= snippet.description %>
                </span>
              </div>
            <% end %>

            <a href="/" onclick="publishStoryToFacebook('<%= @url_base.gsub("//","") %>/snippets/<%= snippet.id %>', '<%= snippet.description %>'); return false;" >Send To Your Facebook Feed</a>


            <br>
           
            </div>
            

          </div>

          <div class="snippet-container box shadow" style="padding: 10px 0px 10px 10px" data-sourceurl="<%=h snippet.source_url %>">
            <%= raw(snippet.content) %>
            <div class="clearfix"></div>
          </div>

        </div>

     
    <div class="clearfix"></div>
    <br />
    
  <% end %>





