<%- model_class = Snippet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:_type) %></th>
      <th><%= model_class.human_attribute_name(:_id) %></th>
      <th><%= model_class.human_attribute_name(:votes) %></th>
      <th><%= model_class.human_attribute_name(:source_url) %></th>
      <th><%= model_class.human_attribute_name(:tags) %></th>
      <th><%= model_class.human_attribute_name(:access_specifier) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= link_to snippet.id, snippet_path(snippet) %></td>
        <td><%= snippet._type %></td>
        <td><%= snippet._id %></td>
        <td><%= snippet.votes %></td>
        <td><%= snippet.source_url %></td>
        <td><%= snippet.tags %></td>
        <td><%= snippet.access_specifier %></td>
        <td><%= snippet.description %></td>
        <td><%= snippet.content %></td>
        <td><%= snippet.text %></td>
        <td><%= snippet.user_id %></td>
        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_snippet_path(snippet), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      snippet_path(snippet),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_snippet_path,
            :class => 'btn btn-primary' %>
