<%- model_class = Snippet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

  <% if @filter_user %>
    <h3><%= "#{@filter_user.name}'s Timeline" %></h3>
  <% else %>
    <h3><%= "Everyone's Timeline" %></h3>
  <% end %>

</div>
  
  <style type="text/css">
    body
    {

      padding-top: 60px;
      background-image: url('');
    }
  </style>  

  <% @snippets.each do |snippet| %>

      <div>

      <div style="background: #cccccc; min-height: 25px; border-bottom: 1px solid black; padding: 10px 10px;">
        <span>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_snippet_path(snippet), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      snippet_path(snippet),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </span>
        <span style="vertical-align: middle; font-weight: bold"> 
          (<%= pluralize snippet.up_votes_count.to_i, "vote" %>)
          <% if current_user %>
          <%= link_to image_tag("http://cdn3.iconfinder.com/data/icons/musthave/128/Stock%20Index%20Up.png", height: 20, width: 20, border: 0), vote_snippet_path(snippet, type: "up"), method: "post" %>
          | <%= link_to image_tag("http://cdn3.iconfinder.com/data/icons/musthave/128/Stock%20Index%20Down.png", height: 20, width: 20, border: 0), vote_snippet_path(snippet, type: "down"), method: "post" %>
          | <%= link_to "Show", snippet %>
          <% if @mode == 'admin' || current_user.id == snippet.user_id %>
          | <%= link_to 'Edit', edit_snippet_path(snippet) %>
            | <%= link_to 'Destroy', snippet, confirm: 'Are you sure?', method: :delete %>
          <% end %>
        <% end %>
          <span><img style='display: inline-block; width:10px; height:10px;' src='/images/double_pointing.png' /><span>
          <span style="font-weight: normal"><a href='<%= snippet.source_url %>' style="word-wrap:break-word"><%=h snippet.source_url %></a></span>
         </span>
      </div>
      <div>
        <% unless snippet.tags == "" %>
          <div style="padding: 5px 5px 2.5px 5px">      
            <span style="font-size: 18px">Tags: </span>
            <span>
              <% snippet.tags.split.each do |tag| %>
                <span class="tag"><%= tag %><span>
              <% end %>
            </span>
          </div>
        <% end %>
        <% unless snippet.description == "" %>
          <div style="padding: 2.5px 5px 5px 5px">      
            <span style="font-size: 18px">Description: </span>
            <span>
              <%= snippet.description %>
            </span>
            <hr class="hr" />
          </div>
        <% else %>
          <hr  class="hr" />
        <% end %>

        <a href="/" onclick="publishStory('<%= @url_base.gsub("//","") %>/snippets/<%= snippet.id %>', '<%= snippet.description %>'); return false;" >Publish feed story</a>


        <br>
        </div>
        <hr class="hr" />
      <div class="snippet-container" style="padding-left: 10px; padding-top: 5px;" data-sourceurl="<%=h snippet.source_url %>">
        <%= raw(snippet.content) %>
        <div class="clearfix"></div>
      </div>
    </div>

    <br />
    
  <% end %>





