<% if @searching %>
	<style>
		#search_box {
			background:-moz-linear-gradient(top, #ffd73a, #ffa500);
			background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd73a), to(#ffa500));
			border:1px solid #d28703;
			border-radius:5px;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			-moz-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
			-webkit-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
			padding:9px;
			width:570px;
		}
		#search_box .wrapper {
			background:#fff;
			border:1px solid #d28703;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0;
			-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0;
			padding:13px 0 10px 8px;
			position:relative;
		}
		#search_box input { border:none; color:#333; font:bold 24px Helvetica, Arial, sans-serif; width:510px; outline: none;}
		#search_box a {
			/* background:-moz-linear-gradient(top, #453e26, #000); */
			background-color: #3D3D3D;
			border:1px solid #000;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			-moz-box-shadow:inset 0 -2px 3px #193544, inset 0 1px #907817, 0 1px 1px rgba(0,0,0,4);
			-webkit-box-shadow:inset 0 -2px 3px #193544, inset 0 1px #907817, 0 1px 1px rgba(0,0,0,.4);
			cursor:pointer;
			height:53px;
			position:absolute;
			right:1px;
			top:1px;
			width:54px;
		}

		#search_box img {
			margin-top: 10px 
		}

		#snippets-container {
background: #848D8E;




			padding: 20px 20px 20px 20px;
		}
		
	</style>

<div id="snippets-container">


<div style="display: inline-block; vertical-align: middle; text-align: center; ">

	<div id="search_box" class="center">
		<div class="wrapper">
			<input type="text" id="query" name="search" placeholder="Search for Snippets" />
			<a id="search" class="search_btn" href=""><img id="search-image" src="/images/search_icon.png" title="Search" /></a>
		</div>
	</div>

	<script>
		$(function() {

			var $placeholder = $('input[placeholder]');

			if ($placeholder.length > 0) {

				var attrPh = $placeholder.attr('placeholder');

				$placeholder.attr('value', attrPh)
				  .bind('focus', function() {

					var $this = $(this);

					if($this.val() === attrPh)
						$this.val('').css('color','#171207');

				}).bind('blur', function() {

					var $this = $(this);

					if($this.val() === '')
						$this.val(attrPh).css('color','#333');

				});

			}

			//setup search
			var query = $('#query');
			var search = $("#search");

			query.get(0).value = getQueryString()['query'] || "";

			//wire
			var url = [location.protocol, '//', location.host, location.pathname].join('');
			query.keyup(function(evt){
				var query = $(this);
				search.attr('href', url + "?query=" + query.val());
			});

			//helpers
			function getQueryString() {
			  var result = {}, queryString = location.search.substring(1),
			      re = /([^&=]+)=([^&]*)/g, m;

			  while (m = re.exec(queryString)) {
			    result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
			  }

			  return result;
			}

		});
	</script>

</div>

<div style='height: 20px'></div>

<% end %>

<!-- FB Integration -->
<div>
	<h2>FB Integration</h2>

	<div id="fb-root"></div>
	<script>
	  (function() {
	    var e = document.createElement('script'); e.async = true;
	        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	        document.getElementById('fb-root').appendChild(e);
	        }());
	</script>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({ appId: '<%= "#{@fb_app_id}"  %>', 
	      status: true, 
	      cookie: true,
	      xfbml: true,
	      oauth: true});

	      FB.Event.subscribe('auth.authResponseChange', handleResponseChange);  
	    };
	</script>
	 <script>
	 function handleResponseChange(response) {
	   document.body.className = response.authResponse ? 'connected' : 'not_connected';

	   if (response.authResponse) {
	     console.log(response);
	   }
	   updateUserInfo(response);
	 }

	 </script>
	  <div id="login">
	   <p><button onClick="loginUser();">Login</button></p>
	 </div>
	 <div id="logout">
	   <p><button  onClick="logoutUser();">Logout</button></p>
	 </div>

	 <script>
	   function loginUser() {    
	     FB.login(function(response) { }, {scope:'email'});     
	   }
	   function logoutUser() {
	   	 var logoutUrl = "/users/logout";
	   	 FB.logout();
	   }
	 </script>
	  <div id="user-info"></div>
	 <script>
	   function updateUserInfo(response) {
	     FB.api('/me', function(response) {
	       document.getElementById('user-info').innerHTML = '<img src="https://graph.facebook.com/' + response.id + '/picture">' + response.name;
	     });
	   }
	 </script>

	 <a href="#" onclick="getUserFriends();">Get friends</a><br>
	 <div id="user-friends"></div>
	 <script>
	  function getUserFriends() {
	   FB.api("/me/friends?fields=name,picture", function(response) {
	     console.log('Got friends: ', response);

	     if (!response.error) {
	       var markup = '';

	       var friends = response.data;

	       for (var i=0; i < friends.length && i < 25; i++) {
	         var friend = friends[i];

	         markup += '<img src="' + friend.picture.data.url + '"> ' + friend.name + '<br>';
	       }

	       document.getElementById('user-friends').innerHTML = markup;
	     }
	   });
	 }
	 </script>

	<a href="#" onclick="sendRequest();">Send request</a><br>
	<script>
	function sendRequest() {
	  FB.ui({
	    method: 'apprequests',
	    message: 'Six Degrees of Keven Bacon Using Neo4j and Ruby: http://ruby.dzone.com/articles/six-degrees-kevin-bacon-using',
	  }, 
	  function(response) {
	    console.log('sendRequest response: ', response);
	  });
	}
	</script>

	
	<script>
	function publishStory(url, description) {
	  debugger;
	  FB.ui({
	    method: 'feed',
	    name: 'Snippets API testing FB GRAPH API',
	    caption: "I just collected a new bit of joy",
	    description: "" + description,
	    link: document.location.href,
	    picture: 'http://ec2-50-16-17-73.compute-1.amazonaws.com:3000/' + url
	  }, 
	  function(response) {
	    console.log('publishStory response: ', response);
	  });
	  return false;
	}
	</script>
</div>


<% if @filter_user %>
	<h3><%= "#{@filter_user.name}'s Snippet Timeline" %></h3>
<% else %>
	<h3><%= "Public Snippet Timeline" %></h3>
<% end %>



<% @snippets.each do |snippet| %>

    <div class="box shadow">
		<div style="background: #cccccc; min-height: 25px; border-bottom: 1px solid black; padding: 10px 10px;">
			<span style="vertical-align: middle; font-weight: bold"> 
		    (<%= pluralize snippet.up_votes_count.to_i, "vote" %>)
		    <% if current_user %>
			  <%= link_to image_tag("http://cdn3.iconfinder.com/data/icons/musthave/128/Stock%20Index%20Up.png", height: 20, width: 20, border: 0), vote_snippet_path(snippet, type: "up"), method: "post" %>
			  | <%= link_to image_tag("http://cdn3.iconfinder.com/data/icons/musthave/128/Stock%20Index%20Down.png", height: 20, width: 20, border: 0), vote_snippet_path(snippet, type: "down"), method: "post" %>
			  | <%= link_to "Show", snippet %>
			  <% if @mode == 'admin' || current_user.id == snippet.user_id %>
			  | <%= link_to 'Edit', edit_snippet_path(snippet) %>
		      | <%= link_to 'Destroy', snippet, confirm: 'Are you sure?', method: :delete %>
			  <% end %>
			<% end %>
		    <span><img style='display: inline-block; width:10px; height:10px;' src='/images/double_pointing.png' /><span>
		   	<span style="font-weight: normal"><a href='<%= snippet.source_url %>' style="word-wrap:break-word"><%=h snippet.source_url %></a></span>
		   </span>
		</div>
		<div>
			<% unless snippet.tags == "" %>
				<div style="padding: 5px 5px 2.5px 5px">			
					<span style="font-size: 18px">Tags: </span>
					<span>
						<% snippet.tags.split.each do |tag| %>
							<span class="tag"><%= tag %><span>
						<% end %>
					</span>
				</div>
			<% end %>
			<% unless snippet.description == "" %>
				<div style="padding: 2.5px 5px 5px 5px">			
					<span style="font-size: 18px">Description: </span>
					<span>
						<%= snippet.description %>
					</span>
					<hr />
				</div>
			<% else %>
				<hr />
			<% end %>
			<a href="#" onclick='publishStory("<%= snippet.source_url %>", "<%= snippet.description %>");' >Publish feed story</a><br>
	    </div>
	    <hr />
		<div class="snippet-container" style="padding-left: 10px; padding-top: 5px;" data-sourceurl="<%=h snippet.source_url %>">
			<%= raw(snippet.content) %>
			<div class="clearfix"></div>
		</div>
	</div>

	<br />
  
<% end %>




</div>

<script type="text/javascript" src="/javascripts/fixupPath.js"></script>
<script type="text/javascript">

	//fixup relative urls
	$(function() {
		$('.snippet-container').fixupAllPaths(function(container){
			var sourceUrl = container.data('sourceurl');
			return sourceUrl;
		});
	});

	// //resize large images temporarily
	// $('img').each(function() {
	//   var img = $(this);
	//   var maxWidth = 500;
	//   if (img.width() > maxWidth)
	//   	img.css('width', '500px');
	// });
</script>

