<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
  <br />
  <%= link_to('Edit account', edit_user_registration_path) %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>  
  <br />
  <%= link_to('Sign up', new_user_registration_path)  %>
<% end %>

<br />

<%= link_to('Marklet', :controller => :marklet) %>
<%= link_to('Notifications', :controller => :notifications) %>

<h1><%= link_to('Snippets', :controller => :snippets) %></h1>
