<% if user_signed_in? %>
  <div>Welcome <%=h current_user.name %></div>
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
  <br />
  <%= link_to('Manage Account', edit_user_registration_path) %>
<% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <br />
  <%= link_to('Sign in', new_user_session_path)  %>
  <br />
  <%= link_to('Sign up', new_user_registration_path)  %>
<% end %>

<br />

<%= link_to('Get Our Marklet', :controller => :marklet) %>
<!-- <%= link_to('Notifications', :controller => :notifications) %> -->
<br />
<br />
<br />
<br />
<div>
	<h1 style="font-size: 92px"><%= link_to('Snippets', :controller => :snippets) %></h1>
</div>