
<style type="text/css">
	.rounded-box {
		-webkit-border-radius: 10px;
		     -moz-border-radius: 10px;
		          border-radius: 10px;
	}
	.capture-ui{
		background-color: #cccccc;
	}
	.capture-container {
		margin: 6px 6px 3px 6px;
		background-color: #FFFFFF;
		display: inline-block;
		padding: 5px 5px 5px 5px;
	}
	.capture-info {
		margin: 3px 6px 6px 6px;
		background-color: #FFFFFF;
		padding: 5px 5px 5px 5px;
	}
	.source-info {
		margin: 3px 6px 6px 6px;
		background-color: #FFFFFF;
		padding: 5px 5px 5px 5px;
	}
	.metadata-info {
		margin: 3px 6px 6px 6px;
		background-color: #FFFFFF;
		padding: 5px 5px 5px 5px;
	}
	.big-button {
		-moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
		-webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
		box-shadow:inset 0px 1px 0px 0px #d197fe;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a53df6), color-stop(1, #7c16cb) );
		background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
		background-color:#a53df6;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #9c33ed;
		display:inline-block;
		color:#ffffff;
		font-family:arial;
		font-size:28px;
		font-weight:bold;
		padding:13px 21px;
		text-decoration:none;
		text-shadow:1px 1px 0px #7d15cd;
	}.big-button:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c16cb), color-stop(1, #a53df6) );
		background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
		background-color:#7c16cb;
	}.big-button:active {
		position:relative;
		top:1px;
	}
</style>

<script type="text/javascript" src="/javascripts/fixupPath.js"></script>


<script type="text/javascript">
	//wiring
	var parent_url = decodeURIComponent(document.location.hash.replace(/^#/, ''));

	if (!!window.addEventListener)
		window.addEventListener('message', receiver, false);
	else
		window.attachEvent('onmessage', receiver);
		
	function receiver(e)
	{
		if (e.origin == parent_url)
		{
			var htmlSummary = $('#uberText');
			var snippetContent = $('#snippet_content');
			snippetContent.val(e.data);
			htmlSummary.html(e.data);
			
			try {
		    	htmlSummary.fixupAllPaths(function(container){
					var sourceUrl = '<%=h @url %>';
					return sourceUrl;
				});
		    }
		    catch(err) {
		    	alert(err);
		    }

		    //note: htmlSummary.fixupAllPaths appears to be not wellformed in youtube
		    var text = htmlSummary.html();
		    //alert(html);
			snippetContent.val(text);

		}
	}
</script>



<form id="snippet" action="/snippets" method="post">
	<div class="capture-ui rounded-box">
		<div style="padding-left: 5px; padding-top: 5px;">
	    	<input name="commit" type="submit" class="big-button" value="Create Snippet" />
	    </div>
		<div class="capture-container rounded-box">
			<p id="uberText"><%= @text %></p>
			<input id="snippet_content" name="snippet[content]" type="hidden" />
		</div>
		<table>
			<tr>
				<td style="vertical-align:top;">
					<div class="capture-info rounded-box">
						<h2>Describe This Information:</h2>
						<textarea  id="snippet_description" name="snippet[description]" wrap="physical" style="width: 300px; margin-right: 6px; height: 222px"></textarea>
					</div>
				</td>
				<td style="vertical-align:top;">
					<div class = "source-info rounded-box">
						<h2>Source Information</h2>
						<h4>Url: <%=h @url %></h4>
						 <input id="snippet_source_url" name="snippet[source_url]" type="hidden" value="<%=h @url %>" />
					</div>
					<div class = "metadata-info rounded-box">
						<h2>Add tags:</h2>
						<p>
							<input type="hidden" id="snippet_tags" name="snippet[tags]" style="width: 300px; display: none;" value="<%= '' %>" />
						</p>
						<h2>Access:</h2>
						<p>
							<label for="public_access_specifier">Public</label>
							<input type="radio" name="snippet[access_specifier]" value="public" id="public_access_specifier" checked="checked" />
							<label for="private_access_specifier">Private</label>
							<input type="radio" name="snippet[access_specifier]" value="private" id="private_access_specifier" />
							<label for="friend_access_specifier">Friends</label>
							<input type="radio" name="snippet[access_specifier]" value="friend" id="friend_access_specifier" />
						</p>
					</div>
				</td>
			</tr>
		</table>
		<div style="clear: both"></div>
	</div>
</form>	
<link href="/javascripts/select2/select2.css" rel="stylesheet">
<script src="/javascripts/select2/select2.js"></script>


<script type="text/javascript">
	$(function(){
		$("#snippet_tags").select2({
                tags: <%= @tags.to_json.html_safe %>,
                tokenSeparators: [",", " "]});
	});
	

</script>
