<style type="text/css">
  * { margin:0; padding:0; }
  .outer { display:none; }
  .outer div { position:absolute; background-color:rgb(255,0,0); z-index:65000; }
  body {
	
  }
  .image {
	max-width: 610px;
  }
  #instructions {
  	padding: 10px 10px 10px 10px;
  }

</style>


<br />
<br />
<br />
<br />
<br />
<%= image_tag('cut-and-paste1.jpg', :alt => 'Splash Image2') %> 
<br />
<br />
<br />
<div id="instructions">
	<h2>Instructions To Get Marklet</h2>
	<p>drag this <span style="font-size:1.5em;text-decoration:underline;color:blue"><strong>
		<a href="javascript:(function(win){document.home='<%= @url_base %>'; if(window.ubermarklet!==undefined){ubermarklet();}else{document.body.appendChild(document.createElement('script')).src='<%= @url_base %>/javascripts/uberBootstrapper.js?';}})(window);">Capture Content Link</a>
		</strong></span> into the toolbar of your browser.  Congratulations you are done.  Now you're ready to begin harvesting the web to build your very own stream of important content.  Welcome to your mind's life's journey.
	</p>

	<br />
	<h2>Instructions for Capture</h2>
	<ul>
		<li>go to any interesting web page</li>
		<li>click the bookmarklet from your toolbar</li>
		<li>select "Include Styles" checkbox</li>
		<li>click "Target Content" link</li>
		<li>hover over content to be captured and click it.  its background will turn green, indicated it has been selected.</li>
		<li>on the heads up display, click capture.</li>
		<li>fill out the form to extent desired, and submit it.</li>
		<li>your content will now be available in the spool.</li>
	</ul>
	<!--
	<div id=playgroundLink>
		<a href="/marklet/playground">playground</playground>
	</div>
	<div id="wayContainer">
		<a href="javascript:(function(){document.home='<%= @url_base %>'; if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='<%= @url_base %>/javascripts/way.js?';}})();">Way</a>
	</div>
	<div id="markletContainer">
		<a href="javascript:(function(){document.home='<%= @url_base %>'; if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='<%= @url_base %>/javascripts/uberframe.js?';}})();">UberFrame</a>
	</div>
	<div id="markletContainer2">
		<a href="javascript:(function(){document.home='<%= @url_base %>'; if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='<%= @url_base %>/javascripts/uberframe2.js?';}})();">UberFrame2</a>
	</div>
	-->
	
</div>




	

